@charset "UTF-8";
@font-face {
    font-family: 'Genshin';
    src: url('../Font/zh-cn.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

h1{
    background-color: rgb(13, 145, 145);
    font-family: 'Genshin';
    color: aqua;
    text-align: center;
    font-size: 24px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 102, 102);
    padding: 5px;
}

p{
    font-family: 'Genshin';
    font-size: 16px;
}